
<!DOCTYPE html>
<html>

<head>
  <title>Tiny Cakes!</title>
  <link rel="stylesheet" href="tinycakes.css" />
</head>

<body>
  <% include ../partials/header %>

  <div class="container">
    <h1 id="sitetitle">About Tiny Cakes!</h1>

    <img src="tinycakes.png" title="Tiny Cakes!" alt="The Tiny Cakes logo, a stylized cartoon cupcake." height="128px"
      width="128px" />
    <p>
      Information about the site and myself.
    </p>
  </div>

</body>

</html>