<!DOCTYPE html>
<html>

  <head>
    <title>Tiny Cakes!</title>
      <link rel="stylesheet" href="/tinycakes.css" />
  </head>

  <body>
    <% include ../partials/header %>
    <div class="container">
      <h1><%= recipe.name %></h1>
      <div><%- recipe.content %></div>
  	 </div>
  </body>

</html>