<div>
    Name: 
    <input name="name" type="text" value="<%= recipe.name %>"/>
  </div>
  <div>
    Content: 
    <textarea name="content" rows="20" cols="80"><%= recipe.content %></textarea>
  </div>
  <input type="submit" value="Save changes" />
  <a href="/admin/">Cancel</a>